<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nfl.libraryoflibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application>
        <activity android:name=".view.CustomCrop.CustomCropActivity" />
        <activity android:name=".view.CustomCrop.ShowImageActivity"></activity>
        <receiver android:name=".utils.CustomBroadcastReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <!-- 监听网络类型 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receiver.BatteryStatsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast_receiver.PowerConnectionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.BaseActivity" />
        <activity
            android:name=".view.imitationwechat.ImitatationWeChatActivity"
            android:configChanges="orientation|layoutDirection|screenLayout|screenSize"
            android:theme="@style/AppBaseTheme" />
        <activity android:name=".view.floatwindow.FloatWindowActivity" />

        <service android:name=".view.floatwindow.FloatWindowService" />

        <activity android:name=".view.traffic_float_window.TrafficFloatWindowActivity" />

        <service android:name=".view.traffic_float_window.TrafficFloatWindowService" />

        <receiver android:name=".view.traffic_float_window.OpenTrafficFloatWindowReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <!-- 监听网络类型 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.runbackgroundpersistently.PersistentService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".utils.runbackgroundpersistently.PersistentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":persistent"
            android:theme="@style/persistent" />

        <service
            android:name=".view.db_insight.DBInsightService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.db_insight.DBInsightActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".view.db_insight.ShowTableActivity" />
        <activity android:name=".view.db_insight.ShowDBTableActivity" />
        <!-- 计步器模块 -->
        <service android:name=".utils.pedometer.SensorListener" />
        <receiver android:name=".utils.pedometer.AppUpdatedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.pedometer.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.pedometer.StartPedometerReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听情景切换 -->
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <!-- 监听网络类型 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>